{
    "presets": ["next/babel"],

    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "decoratorsBeforeExport": true
            }
        ],
        "inline-react-svg",
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        [
            "transform-class-properties",
            {
                "spec": true
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}
